{% extends "_includes/default.njk" %}
{% block title %}Yosef Serkez{% endblock %}
{% block content %}
  <div class="mx-auto flex flex-col md:flex-row gap-8 my-4">
    <img
      src="/assets/photos/yosef.png"
      alt="Yosef Serkez Profile Photo."
      class="w-60 h-auto rounded overflow-hidden object-cover"/>
    <div class="max-w-xl space-y-4">
      <div class="space-y-3">
        <p class="leading-relaxed">
          Hey, I'm Yosef, a motorcycle riding, long trail hiking, yoga doing, tech guy, living in beautiful northern New Jersey, where I run
          <a href="https://codegreengroup.com" target="_blank" class="font-bold underline">Codegreen Group</a>, building software and tools for small businesses.
        </p>
        <p class="leading-relaxed">
          Lately, I've been diving deeper into applied AI. Previously, I served as CTO at
          <a href="https://artcentercanvas.com" target="_blank" class="font-bold underline">Art Center Canvas</a>.
        </p>
        <p class="leading-relaxed">
          I also built and maintain the open-source project
          <a href="https://mailpals.net" target="_blank" class="font-bold underline">Mailpals</a>, and my girlfriend and I opened
          <a href="https://zendenwellness.com" target="_blank" class="font-bold underline">Zen Den Yoga & Wellness</a>
          to make yoga and wellness more accessible.
        </p>
      </div>
      
      <div class=" border-gray-200">
        <p class="leading-relaxed">
          In 2018, I left Rutgers University to study at
          <a href="https://42.fr/en/homepage/" target="_blank" class="font-bold underline">42</a>.
        </p>
      </div>

      <div class="pt-2">
        <p class="leading-relaxed">
          I learn lots from
          <a href="/been" class="font-bold underline">visiting places</a>, and 
          <a href="/pct22" class="font-bold underline">long walks</a>. Occasionally, I write about
          <a href="/btse" class="font-bold underline">it</a>.
        </p>
      </div>

      <div class="pt-3 mt-4 border-t border-gray-200">
        <p class="leading-relaxed">
          <span class="font-medium">Email:</span>
          <a href="mailto:yosefserkez@gmail.com" class="font-bold underline ml-1" target="_blank">yosefserkez@gmail.com</a>
        </p>
      </div>
    </div>
  </div>
  <div
    class="my-5">
    {# Section #}
    <div class="my-5">
      <div class="flex">
        <h2 class="font-bold">Journals</h2>
        <span class="mx-2 text-gray-400 border-r"></span>
        <span class="text-gray-400 font-light">2</span>
      </div>
      <ol class="grid gap-x-2 grid-flow-col auto-cols-max	overflow-scroll mt-2">
        <a href="/btse" class="p-2 rounded border w-60 text-md hover:border-black">
          <div class="flex flex-col h-full">
            <div class="ftext-gray-800 tracking-widest">Before The Sun Explodes</div>
            <div class="border border-orange-400  w-24 h-24 m-auto rounded-full"></div>
          </div>
        </a>
        <a href="/pct22" class="p-2 rounded border w-60 text-md hover:border-black">
          <div class="flex flex-col h-full">
            <div class="ftext-gray-800 tracking-widest">Pacific Crest Trail</div>
            <img src="/assets/pct.svg" class="w-36 h-36 md:pt-4 m-auto" alt="Pacific Crest Trail center line."/>
          </div>
        </a>
      </ol>
    </div>
    {# Section #}
    <div class="my-5">
      <div class="flex">
        <h2 class="font-bold">Projects</h2>
        <span class="mx-2 text-gray-400 border-r"></span>
        <span class="text-gray-400 font-light">{{ collections.project.length }}</span>
      </div>
      {% include 'projects.njk' %}
    </div>
    <div class="my-5">
      <div class="flex">
        <h2 class="font-bold">Conversations</h2>
        <span class="mx-2 text-gray-400 border-r"></span>
        <span class="text-gray-400 font-light">2</span>
      </div>
      <ol class="grid gap-x-2 grid-flow-col auto-cols-max	overflow-scroll mt-2 h-24 items-center">
        <a href="https://open.spotify.com/show/4iuJS7WIj1kU6CUzzyUQgo?si=9f1867646d194ee2" class="rounded w-60 text-md">
          <div class="flex flex-col">
            <div class="text-gray-800 tracking-widest flex items-center">
              <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/episode/1BS9bn4AgXHErpl5fulpd6?utm_source=generator&theme=0"
                width="100%"
                height="80"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            </div>
          </div>
        </a>
        <a
          href="https://open.spotify.com/show/4iuJS7WIj1kU6CUzzyUQgo?si=9f1867646d194ee2"
          class="pointer-cursor w-60 text-md hover:border-black">
          <div class="flex flex-col">
            <div class="text-gray-800 tracking-widest flex items-center">
              <iframe
                style="border-radius:12px"
                src="https://open.spotify.com/embed/show/4iuJS7WIj1kU6CUzzyUQgo?utm_source=generator&theme=0"
                width="100%"
                height="80"
                frameBorder="0"
                allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            </div>
          </div>
        </a>
      </ol>
    </div>
    <div class="my-5">
      <div class="flex">
        <h2 class="font-bold">Videos</h2>
        <span class="mx-2 text-gray-400 border-r"></span>
        <span class="text-gray-400 font-light">1</span>
      </div>
      <ol class="grid gap-x-2 grid-flow-col auto-cols-max	overflow-scroll mt-2 ">
        <iframe
          class="w-60 h-full rounded"
          src="https://www.youtube.com/embed/60-tplmz3to"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="w-60 h-full rounded"
          src="https://www.youtube.com/embed/F4PvHija8eE"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
        <iframe
          class="w-60 h-full rounded"
          src="https://www.youtube.com/embed/DDnQAiQ7w3M"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen></iframe>
      </ol>
    </div>
    {# Section #}
  </div>
{% endblock %}