---
permalink: "/index.html"
tags: home
title: Yosef
eleventyNavigation: 
  key: index
  title: Yosef Serkez
---
{% extends "_includes/default.njk" %}

{% block content %}
  <p class="text-gray-400 text-sm" aria="About">

    <div class="mx-auto grid justify-center my-4 items-middle text-center" alt="Yosef Serkez Profile Photo." >
      {# <div class="rounded-lg mx-auto w-24">
        {% image './images/yosef-1.jpg',
        title %}
      </div> #}
      <p>Hi I am Yosef</p>
    </div>
    <div class=" text-center">

      {# <h2 class="font-bold">Collections</h2> #}
      <ul class=" flex mt-2 justify-center">

        <a href="/template" class="p-2 rounded text-md mx-2 border-t ">
          <div class="flex flex-col h-full hover:scale-105 transition-transform">
            <div class="ftext-gray-800 tracking-widest">Template</div>
          </div>
        </a>

        <a href="/pct" class="p-2 rounded text-md mx-2 border-t ">
          <div class="flex flex-col h-full hover:scale-105 transition-transform">
            <div class="ftext-gray-800 tracking-widest">Pacific Crest Trail</div>
            <img src="/assets/pct.svg" class="w-36 h-36 md:pt-4 m-auto" alt="Pacific Crest Trail center line."/>
          </div>
        </a>

        <a href="/btse" class="p-2 rounded text-md mx-2 border-t">
          <div class="flex flex-col h-full hover:scale-105 transition-transform">
            <div class="text-gray-800 tracking-widest">Before The Sun Explodes</div>
            <div class="border border-orange-400  w-24 h-24 m-auto rounded-full"></div>
          </div>
        </a>

      </ul>

    </div>
  {% endblock %}