{% from 'components/contentNav.njk' import contentNav %}

{% extends "_includes/default.njk" %}

{% block content %}
    <div class="m-auto py-2">
        <div class="markdown m-auto">
            {% image image,
            title %}
        </div>
        {{contentNav(collections[eleventyNavigation.parent] | hasTags('photo'), page)}}
    </div>
{% endblock %}