{% extends "_includes/default.njk" %}

{% set previousPost = collections.pct22 | getPreviousCollectionItem(page) %}
{% set nextPost = collections.pct22 | getNextCollectionItem(page) %}

{% block content %}
    <div class="max-w-2xl mx-auto grid">
        <div class="markdown text-justify">
            {{ content | safe }}
        </div>
        <div class="my-4 font-thin">
            {% if previousPost %}
                <a href="{{ previousPost.url }}" class="text-gray-500 hover:text-gray-900 mr-4">Previous Post</a>
            {% endif %}
            {% if nextPost %}
                <a href="{{ nextPost.url }}" class="text-gray-500 hover:text-gray-900">Next Post</a>
            {% endif %}
        </div>
    </div>
{% endblock %}