{# 
  1. Edit key,title,subtitle in Index.njk
  2. Edit tags in content/content.json
  3. Edit permalink in all content/*.json subdirectories
 #}
---
permalink: "{{page.fileSlug}}/index.html"
subtitle: "This page is the root template of all pages."
eleventyNavigation:
  key: template
  title: Template
  parent: index
---
{% extends "_includes/default.njk" %}

{% block content %}
  <p class="text-gray-400 text-sm" aria="About">{{subtitle}}</p>
  <div class="mx-auto my-8 p-8 flex justify-center bg-gray-200">
    {# 4. Insert hero image or other showcase #}
    <p class="italic">Showcase</p>
  </div>

  {# 5. Add collections such as blogs, or pictures #}
  {%include "_includes/components/postCollection.njk"%}
  {%include "_includes/components/pictureCollection.njk"%}

{% endblock %}