---
permalink: "{{page.fileSlug}}/index.html"
subtitle: "Can adventure teach us something about life?"
eleventyNavigation:
  key: btse
  title: Before The Sun Explodes
  parent: index
---
{% extends "_includes/default.njk" %}

{% block content %}
  <p class="text-gray-400 text-sm" aria="About">{{subtitle}}</p>
  <div class="mx-auto my-8 p-8 flex justify-center">
    <div class="sun-container mx-auto my-16">
      <div
        class="border border-orange-400 w-24 h-24 m-auto rounded-full shadow-md shadow-orange-200"
      ></div>
      <div class="sun-ray" style="animation-delay: -1.5s">
        <p>
          -----
          -----
          ---</p>
    </div>
    <div class="sun-ray" style="animation-delay: -3s">
      <p>---
          -----
          -----
        </p>
      </div>
      <div class="sun-ray" style="animation-delay: -4.5s">
        <p>
          -----
          -----
          ---</p>
    </div>
    <div class="sun-ray" style="animation-delay: -6s">
      <p>---
          -----
          -----
        </p>
      </div>
      <div class="sun-ray" style="animation-delay: -7.5s">
        <p>
          -----
          -----
          ---</p>
    </div>
    <div class="sun-ray" style="animation-delay: -9s">
      <p>---
          -----
          -----
        </p>
      </div>
      <div class="sun-ray" style="animation-delay: -10.5s">
        <p>
          -----
          -----
          ---</p>
    </div>
    <div class="sun-ray" style="animation-delay: -12s">
      <p>---
          -----
          -----
        </p>
      </div>
      <div class="sun-ray" style="animation-delay: -13.5s">
        <p>
          -----
          -----
          ---</p>
    </div>
    <div class="sun-ray" style="animation-delay: -15s">
      <p>---
          -----
          -----
        </p>
      </div>
      <div class="sun-ray" style="animation-delay: -16.5s">
        <p>
          -----
          -----
          ---</p>
    </div>
    <div class="sun-ray" style="animation-delay: -18s">
      <p>---
          -----
          -----
        </p>
      </div>
      <div class="sun-ray" style="animation-delay: -19.5s">
        <p>
          -----
          -----
          ---</p>
    </div>
    <div class="sun-ray" style="animation-delay: -21s">
      <p>---
          -----
          -----
        </p>
      </div>
      <div class="sun-ray" style="animation-delay: -22.5s">
        <p>
          -----
          -----
          ---</p>
    </div>
    <div class="sun-ray" style="animation-delay: -24s">
      <p>---
          -----
          -----
        </p>
      </div>
      <div class="sun-ray" style="animation-delay: -25.3s">
        <p>
          ---
          -----
          -----
        </p>
      </div>
    </div>
  </div>

  {# {%include "_includes/components/postCollection.njk"%}
  {%include "_includes/components/pictureCollection.njk"%} #}

{% endblock %}