---
permalink: "{{page.fileSlug}}/index.html"
eleventyNavigation:
  key: pct22
  title: Pacific Crest Trail
---
{% extends "_includes/default.njk" %}

{%set title="Pacific Crest Trail"%}

{% block content %}
  <p class="text-gray-400 text-sm" aria="About">
        In May 2022 I embarked on a journey across America, by foot. Over the next 4 months the 2000+ miles from Mexico to Canada through the Sierra Nevada mountain range opened my eyes, and heart to our magical world. 
    </p>
  <div class="grid justify-center w-full h-96 mt-4">
    <img src="/assets/pct.svg" class="h-full w-full" alt="Pacific Crest Trail center line."/>
  </div>
  <div class="">
    <div class="flex">
      <h2>Logs</h2>
      <span class="mx-2 text-gray-400 border-r"></span>
      <span class="text-gray-400 font-light">{{collections.pct22.length}}</span>
    </div>
    <ol class="grid gap-x-2 grid-flow-col auto-cols-max	overflow-scroll border-l-2 pl-2 mt-2 ">
      {%- for post in collections.pct22 | reverse -%}
        <a href={{post.url}} class="p-2 rounded border w-60 text-md hover:border-black">
          <div class="flex flex-col ">
            <div class="text-xs text-gray-600">{{post.data.title }}</div>
            <div class="">{{post.templateContent |  truncate() | safe }}</div>
          </div>
        </a>
      {%- endfor -%}
    </ol>
  </div>
{% endblock %}