---
permalink: "{{page.fileSlug}}/index.html"
eleventyNavigation:
  key: pct22
  title: Pacific Crest Trail
---
{% extends "_includes/default.njk" %}

{%set title="Pacific Crest Trail"%}

{% block content %}
  <p class="text-gray-600 text-sm" aria="About">
        In May 2022 I embarked on a journey across America, by foot. For 4 months I walked 
        through the Sierra Nevada mountain range, 2000+ miles from Mexico to Canada. This walk opened my eyes, and heart to our magical world.
        In many ways the experience was a capstone project to years of prior 
        efforts. Yet it's also the origin story to the life I live now. A life where I pursue a goal no matter it's percieved absurity. Maybe someday I'll 
        find a way to organize the experience and all it's nuanced lessons, but for now I'm content with the many mental impressions, and (almost) daily journal entries seen below.
    </p>
  <div class="grid justify-center w-full h-96 mt-4">
    <img src="/assets/pct.svg" class="h-full w-full" alt="Pacific Crest Trail center line."/>
  </div>
  <div class="">
    <div class="flex">
      <h2>Logs</h2>
      <span class="mx-2 text-gray-400 border-r"></span>
      <span class="text-gray-400 font-light">{{collections.pct22.length}}</span>
      <span class="mx-2 text-gray-400 border-r"></span>
      <div class="grid grid-flow-col gap-2 self-end">
        <p>Sort by:</p>
        <button onclick="reverseLogs(this)" class="underline underline-offset-2 hover:underline text-gray-700" data-sortby="new">New</button>
        <button onclick="reverseLogs(this)" class="underline-offset-2 hover:underline  text-gray-700" data-sortby="old">Old</button>
      </div>

    </div>
    <ol id="log-list" class="grid gap-x-2 grid-flow-col auto-cols-max	overflow-scroll border-l-2 pl-2 mt-2 ">
      {%- for post in collections.pct22 | reverse -%}
        <a href={{post.url}} data-date={{post.date.toISOString()}} class="p-2 rounded border w-60 text-md hover:border-black">
          <div class="flex flex-col ">
            <div class="text-xs text-gray-600">{{post.data.title }}</div>
            <div class="">{{post.templateContent |  truncate() | safe }}</div>
          </div>
        </a>
      {%- endfor -%}
    </ol>
    {# 
    <ol id="photos-list" class="grid  grid-cols-4 gap-4 border-l-2 pl-2 mt-2 ">
      <iframe src="https://photos.google.com/share/AF1QipNUZxuKXgd-bHzRHfbEeiqJAxWBOhoKww1vri6EhLouzdgzo5PxtFXY93fB_2FIrw?key=a1czNmpjSnU2RkQ2a092aEN4ZUw4eEZ4VVFuQjBB" width="500" height="400"></iframe>
    </ol> #}

  </div>
  <img src="/assets/photos/pct.png" class="w-full py-12 h-auto rounded overflow-hidden object-cover"/>

  <script>
    function reverseLogs(e, by) {
      const sortby = e
        .dataset
        .sortby

        document
        .querySelector(
          `[data-sortby=${sortby == 'new'
          ? 'old'
          : 'new'}]`)
        .classList
        .remove('underline')

      e
        .classList
        .add('underline')

      const dateList = document.getElementById('log-list');

      const listItems = Array.from(dateList.children);

      listItems.sort((a, b) => {
        const dateA = new Date(a.dataset.date);
        const dateB = new Date(b.dataset.date);
        return sortby == 'old'
          ? dateA - dateB
          : dateB - dateA
      });

      listItems.forEach(item => dateList.appendChild(item));
    }
  </script>
{% endblock %}