<div class="grid my-4">
    <h2>Posts</h2>
    <span class="text-gray-400 text-xs">Writings from this collection.</span>
</div>

<ol class="grid gap-x-2 grid-flow-col auto-cols-max	overflow-scroll border-l-2 pl-2 mt-2 ">
    {%- for post in collections[page.fileSlug] | hasTags('post') | reverse -%}
        <a href={{post.url}} class="p-2 my-2 rounded shadow w-60 text-md hover:scale-95 transition-all">
            <div class="flex flex-col ">
                <div class="text-xs text-gray-600">{{post.date | date ("dddd, MMMM D, YYYY")}}</div>
                <h1 class="font-bold text-xl">{{post.data.title}}</h1>
                <div class="">{{post.subtitle }}</div>
            </div>
        </a>
    {%- endfor -%}
</ol>