<div class="substack-post-embed">
    <a data-post-link="data-post-link" href="https://yosefserkez.substack.com/p/{{ substack_url }}">Read on Substack</a>
</div>
<script async="async" src="https://substack.com/embedjs/embed.js" charset="utf-8"></script>