---
permalink: "{{page.fileSlug}}/index.html"
subtitle: "In May 2022 I embarked on a journey across America, by foot. For 4 months I walked 
        through the Sierra Nevada mountain range, 2000+ miles from Mexico to Canada. This walk opened my eyes, and heart to our magical world.
        I have yearned for the same sense of life every day since. In many ways I see the experience as a capstone project to years of prior 
        efforts. Yet it's also the origin story to the life I live now. A life where I pursue a goal no matter it's percieved absurity. Maybe someday I'll 
        find a way to organize the experience and all it's nuanced lessons, but for now I'm content with the many mental impressions, and (almost) daily journal entries seen below."
eleventyNavigation:
  key: pct
  title: Pacific Crest Trail
  parent: index
---
{% extends "_includes/default.njk" %}

{% block content %}
  <p class="text-gray-400 text-sm" aria="About">{{subtitle}}</p>
  <div class="mx-auto my-8 p-8 flex justify-center bg-gray-200">
    <p class="italic">Showcase</p>
  </div>

  {%include "_includes/components/postCollection.njk"%}
  {%include "_includes/components/pictureCollection.njk"%}

{% endblock %}